[Unit]
Description=Prefect Worker
After=prefect-server.service

[Service]
WorkingDirectory=/media/dusty/TB2/workspace/omnidian/prefect_data_getters
ExecStart=/media/dusty/TB2/workspace/omnidian/prefect_data_getters/env/bin/prefect worker start --pool default
Restart=always
User=dusty

RestartSec=3
StartLimitIntervalSec=60
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
